<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bharatbahl.fitnessfriend">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CalorieCalculator" />
        <activity android:name=".showing" />
        <activity android:name=".CalorieBurner" />
        <activity android:name=".burnt" />
        <activity android:name=".intake" />
        <activity android:name=".count" />
        <activity android:name=".BMI" />
        <activity android:name=".dietplan" />
        <activity android:name=".music"></activity>
    </application>

</manifest>